
<header>
  <div class="headerBtn" id="leftBtn"><%= link_to "Home", posts_path, :method => :get %></div>
  <div class="headerBtn" id="leftBtn"><%= link_to 'Login', new_session_path(resource_name), :method => :get %></div>
  <div style="float: right; text-alignment: center; padding-top: 20px; padding-right: 20px; color: #93f300;"><%= notice %></div>
  <div style="float: right; text-alignment: center; padding-top: 20px; padding-right: 20px; color: #93f300;"><%= alert %></div>
</header>
<div style="padding-top: 1px; padding-bottom: 1px; background-color: #0086b3;">
  <h2 style="text-align: center; color: white;">Sign up</h2>
</div>
<br>

<div style="text-align: center;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>